body{
    margin: 0;
    padding: 0;
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:rgb(102, 130, 207);
    text-align: center;
}
.home-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: aquamarine;
}
.home{
    display: flex;
    flex-direction: column;
}


